<div class="owl-carousel clients-carousel">
    <a href="https://kalamar.tg" title="logo de kalamar"> <img src="img/clients/kal.png" alt="logo de KALAMAR"></a>
    <img src="img/clients/client-1.png" alt="">
    <img src="img/clients/client-2.png" alt="">
    <img src="img/clients/client-3.png" alt="">
    <img src="img/clients/client-4.png" alt="">
    <img src="img/clients/client-5.png" alt="">
    <img src="img/clients/client-6.png" alt="">
    <img src="img/clients/client-7.png" alt="">
    <img src="img/clients/client-8.png" alt="">
</div>