{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        .pagerfanta {
        }

        .pagerfanta a,
        .pagerfanta span {
            display: inline-block;
            border: 1px solid blue;
            color: blue;
            margin-right: .2em;
            padding: .25em .35em;
        }

        .pagerfanta a {
            text-decoration: none;
        }

        .pagerfanta a:hover {
            background: #ccf;
        }

        .pagerfanta .dots {
            border-width: 0;
        }

        .pagerfanta .current {
            background: #ccf;
            font-weight: bold;
        }

        .pagerfanta .disabled {
            border-color: #ccf;
            color: #ccf;
        }

        .pagerfanta a,
        .pagerfanta span {
            border-color: blue;
            color: blue;
        }

        .pagerfanta a:hover {
            background: #ccf;
        }

        .pagerfanta .current {
            background: #ccf;
        }

        .pagerfanta .disabled {
            border-color: #ccf;
            color: #cf;
        }
    </style>
{% endblock %}

{% block body %}
    <!--==========================
    Header
    ============================-->
    <header id="header" class="header-scrolled">

        {# <div id="topbar">
            <div class="container">
                <div class="social-links">
                    <a href="https://twitter.com/opendatatg" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div> #}

        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#intro" class="scrollto"><span>Rapid</span></a></h1> -->
                <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#intro">Accueil</a></li>
                    <li><a href="#about">A propos</a></li>
                    <li><a href="#services">Plateformes</a></li>
                    <!--<li><a href="#portfolio">Portfolio</a></li>-->
                    <li><a href="#footer">Contact</a></li>
                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->
    
    
    <main id="main">
        {% block main %}{% endblock %}
    </main>
    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="section-bg">
        <div class="footer-top">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6">

                        <div class="row">

                            <div class="col-sm-6">

                                <div class="footer-info">
                                    <h3>Opendata</h3>
                                    <p> Une donnée ouverte (en anglais <i>open data</i>) est une donnée numérique brute d'origine publique ou privée, qui a vocation à être librement accessible et réutilisable par tous sans restriction.</p>
                                </div>

                                <div class="footer-newsletter">
                                    <h4>NEWSLETTER</h4>
                                    <p> Afin de recevoir des informations sur les événements autour de la donnée ouverte ou de la publication d'un jeu de données, saisissez votre adresse email dans le champ en dessous.</p>
                                    <form action="" method="post">
                                        <input type="email" name="email" placeholder="Adresse email"><input type="submit"  value="Souscrivez">
                                    </form>
                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="footer-links">
                                    <h4>Menu</h4>
                                    <ul>
                                        <li><a href="#">Acceuil</a></li>
                                        <li><a href="#">A propos</a></li>
                                        <li><a href="#">Plateforme</a></li>
                                        <li><a href="#">Mentions légale</a></li>
                                        <!--<li><a href="#">Privacy policy</a></li>-->
                                    </ul>
                                </div>

                                <div class="footer-links">
                                    <h4>Contact</h4>
                                    <p>
                                        117, Rue Daniel Comboni <br>
                                        Avenou à Lomé<br>
                                        Togo <br>
                                        <strong>Phone:</strong> +288 90 XX XX xx<br>
                                        <strong>Email:</strong> contact@gmail.com<br>
                                    </p>
                                </div>

                                <div class="social-links">
                                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="form">

                            <h4>Laissez-nous un message</h4>
                            <p>Utilisez le formulaire en dessous pour nous envoyer vos commentaires, propositions, suggestions et questions, nous vous répondrons rapidement </p>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Nom & Prénom(s)" data-rule="minlen:4" data-msg="Nom trop court (Minimum 04 caractères)" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Votre adresse email" data-rule="email" data-msg="Entrer une adresse email valide" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Titre" data-rule="minlen:8" data-msg="Titre trop court (Minimun 08 caractères)" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Veuillez entrer un message" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>

                                <div id="sendmessage">Votre message nous a été envoyé. Merci!</div>
                                <div id="errormessage"></div>

                                <div class="text-center"><button type="submit" title="Send Message">Envoyer le message</button></div>
                            </form>
                        </div>

                    </div>



                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Opendata.tg</strong>. Tous les droits réservés
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Opendata.tg
                -->
            </div>
        </div>
    </footer><!-- #footer -->
{% endblock %}