{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block stylesheets %}
    <style>
        #moreAbout{
            font-family: "Montserrat", sans-serif;
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1px;
            display: inline-block;
            padding: 10px 32px;
            border-radius: 4px;
            transition: 0.5s;
            color: #fff;
            background: #1bb1dc;
            color: #fff;           
        }
    </style>
{% endblock %}

{% block body %}
    <!--==========================
    Header
    ============================-->
    <header id="header">

        <div id="topbar">
            <div class="container">
                <div class="social-links">
                    <a href="https://twitter.com/opendatatg" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <h1 class="text-light"><a href="#intro" class="scrollto"><span>Rapid</span></a></h1> -->
                <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a>
            </div>

            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#intro">Accueil</a></li>
                    <li><a href="#about">A propos</a></li>
                    <li><a href="#services">Plateformes</a></li>
                    <li><a href="#partners">Nos partenaires</a></li>
                    <li><a href="#footer">Contact</a></li>
                </ul>
            </nav><!-- .main-nav -->

        </div>
    </header><!-- #header -->

    <!--==========================
      Intro Section
    ============================-->
    <section id="intro" class="clearfix">
        <div class="container d-flex h-100">
            <div class="row justify-content-center align-self-center">
                <div class="col-md-6 intro-info order-md-first order-last">
                    <h2>Annuaire des Plateformes <span>OpenData </span>du Togo</h2>
                    <div>
                        <a href="#about" class="btn-get-started scrollto">Explorer</a>
                    </div>
                </div>

                <div class="col-md-6 intro-img order-md-last order-first">
                    <img src="img/intro-img.svg" alt="" class="img-fluid">
                </div>
            </div>

        </div>
    </section><!-- #intro -->

    <main id="main">

        <!--==========================
          A propos Section
        ============================-->
        <section id="about">

            <div class="container">
                <div class="row">

                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <!--<img src="img/about-img.jpg" alt="">-->
                            <img src="img/logo.png" alt="">
                        </div>
                    </div>

                    <div class="col-lg-7 col-md-6">
                        <div class="about-content">
                            <h2>A propos de nous</h2>
                            <h3>Odio sed id eos et laboriosam consequatur eos earum soluta.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul>
                                <li><i class="ion-android-checkmark-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                                <li><i class="ion-android-checkmark-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            </ul>
                            <a href="javascript:void(0)" class="btn btn-default" id="moreAbout">Plus de détails</a>                            
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- #about -->


        <!--==========================
          Services Section
        ============================-->
        <section id="services" class="section-bg">
            <div class="container">

                <header class="section-header">
                    <h3>Plateformes</h3>
                    <p>En dessous vous avez la liste des plateformes que la Open Data Team du Togo ont mis en place.</p>
                </header>
                {# Affichage de la liste des catégories de plateformes #}
                {# Affichage de la liste des plateformes #}
                {{ render(controller('App\\Controller\\HomeController::platformsList', {})) }}

            </div>
        </section><!-- #services -->

        <!--==========================
          Clients Section
        ============================-->
        <!---->
        <!-- <section id="testimonials">
            <div class="container">

                <header class="section-header">
                    <h3>Les témoignages</h3>
                </header>
                {{ render(controller('App\\Controller\\HomeController::showTestimonials')) }}
            </div>
        </section>#testimonials -->

        <!--==========================
          Clients Section
        ============================-->
        <section id="partners" class="wow fadeInUp">
            <div class="container">

                <header class="section-header">
                    <h3>Nos Partenaires</h3>
                </header>
                {{ render(controller('App\\Controller\\HomeController::showPartners')) }}

            </div>
        </section><!-- #clients -->

    </main>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer" class="section-bg">
        <div class="footer-top">
            <div class="container">

                <div class="row">

                    <div class="col-lg-6">

                        <div class="row">

                            <div class="col-sm-6">

                                <div class="footer-info">
                                    <h3>Opendata</h3>
                                    <p> Une donnée ouverte (en anglais <i>open data</i>) est une donnée numérique brute d'origine publique ou privée, qui a vocation à être librement accessible et réutilisable par tous sans restriction.</p>
                                </div>

                                <div class="footer-newsletter">
                                    <h4>NEWSLETTER</h4>
                                    <p> Afin de recevoir des informations sur les événements autour de la donnée ouverte ou de la publication d'un jeu de données, saisissez votre adresse email dans le champ en dessous.</p>
                                    <form action="" method="post">
                                        <input type="email" name="email" placeholder="Adresse email"><input type="submit"  value="Souscrivez">
                                    </form>
                                </div>

                            </div>

                            <div class="col-sm-6">
                                <div class="footer-links">
                                    <h4>Menu</h4>
                                    <ul>
                                        <li><a href="#">Acceuil</a></li>
                                        <li><a href="#">A propos</a></li>
                                        <li><a href="#">Plateforme</a></li>
                                        <li><a href="#">Mentions légale</a></li>
                                        <!--<li><a href="#">Privacy policy</a></li>-->
                                    </ul>
                                </div>

                                <div class="footer-links">
                                    <h4>Contact</h4>
                                    <p>
                                        117, Rue Daniel Comboni <br>
                                        Avenou à Lomé<br>
                                        Togo <br>
                                        <strong>Phone:</strong> +288 90 XX XX xx<br>
                                        <strong>Email:</strong> contact@gmail.com<br>
                                    </p>
                                </div>

                                <div class="social-links">
                                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        <div class="form">

                            <h4>Laissez-nous un message</h4>
                            <p>Utilisez le formulaire en dessous pour nous envoyer vos commentaires, propositions, suggestions et questions, nous vous répondrons rapidement </p>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" id="name" placeholder="Nom & Prénom(s)" data-rule="minlen:4" data-msg="Nom trop court (Minimum 04 caractères)" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Votre adresse email" data-rule="email" data-msg="Veuillez entrer une adresse email valide" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Objet" data-rule="minlen:4" data-msg="Entrer au minimum 04 caractères pour l'objet" />
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Veuillez entrer le message" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>

                                <div id="sendmessage">Votre message nous a été envoyé. Merci!</div>
                                <div id="errormessage"></div>

                                <div class="text-center"><button type="submit" title="Send Message">Envoyer le message</button></div>
                            </form>
                        </div>

                    </div>



                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>Opendata.tg</strong>. Tous les droits réservés
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Opendata.tg
                -->
            </div>
        </div>
    </footer><!-- #footer -->
{% endblock %}
