<div class="row">
    {% for c in categories %}
        <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
            <div class="box">
                <div class="icon" style="background: #fceef3;"><i class="ion-ios-heart-outline" style="color: #ff689b;"></i></div>
                <h4 class="title"><a href="#">{{ c.nom }}</a></h4>
                {# <h4 class="title"><a href="{{ path('show.category', {id: c.id}) }}">{{ c.nom }}</a></h4> #}
                <p class="description">{{ c.description[:80] ~ '...' }}</p>
            </div>
        </div>
    {% endfor %}
</div>