{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Catégorie{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="container" style="margin-top: 90px">
        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, optio excepturi! Porro non commodi atque facilis provident, nobis dolores molestias et earum labore. Voluptatum ducimus consectetur aspernatur est inventore voluptates?</h3>
    </div>
{% endblock %}